:root {
    --content-width: 750px;
    --background-color: #202020;
    --shadow-color: #3e3e3e;
    --text-color: #848484;
    --green-color: #47ff47;
    --header-green: #00cf00;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Helvetica, Arial;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

a {
  color: var(--text-color);
  text-decoration: underline solid var(--text-color);
}

a:hover {
  color: var(--green-color);
  text-decoration: underline solid var(--green-color);
}

#header {
  color: var(--header-green);
  padding: 16px;
  margin: 0;
  align: center;
}

#header > a {
  color: var(--header-green);
  text-decoration: none;
}

#header > p {
  padding: 0;
  margin: 0;
}

#content {
  margin: 0;
}

.post {
  margin-top: 8px;
  margin-bottom: 32px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 150%;

  padding: 16px 16px 1px 16px;
  box-shadow: 0px 0px 8px var(--shadow-color);
  border-radius: 8px;
}

.post:hover {
  background: #191919;
}

.post > h1 > a {
  text-decoration: none;
}

#pagination {
    width: 100%;
    text-align: center;
}

#footer {
  padding: 16px 16px 0 16px;
  margin: 0;
}

@media only screen and (min-width: 1080px) {
  body {
    width: var(--content-width);
    margin-left: calc((100% - var(--content-width)) / 2);
    margin-right: calc((100% - var(--content-width)) / 2);
  }
}
